<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CMS-style Blog Site</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{{ body }}}
  <script src="/js/comment.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/publish.js"></script>
  <script src="/js/signup.js"></script>
  <script src="/js/update.js"></script>
</body>
</html>